html{
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: black;
}
body{
   padding: 10px;
   margin: 0;
   display: flex;
   flex-direction: column;
   font-family: 'Franklin Gothic Medium', Arial, sans-serif;
   max-width: 80%;
}

.header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color: rgb(30, 109, 212);
    align-items: center;
    padding: 10px;   
    flex-wrap: wrap;
}

.logo img {
    max-width:200px;
    height:50px;
}
a {
    text-decoration: none;
}
.links {
   display: flex;
   gap: 15px;
   margin-right: 10px;
}

.links .link{
    font-size: large;
}

.link a{
    color: white;
}

.content-top{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:  rgb(134, 191, 229);
    gap:20px;
    flex-wrap: wrap;
}
.left-content{
    max-width: 500px;
    max-height: 500px;
    flex:1 1 0;
    min-width: 350px;
}

.left-content img{
    width:100%;
    height: auto;
    border:2px solid rgb(134, 191, 229);
    border-radius: 15px;
    display: block;
}

.right-content{
    word-break: keep-all;
    flex: 1 1 0;
    min-width: 350px;
}
.right-content p {
    font-size: 18px;

}

.text {
    border: 2px solid black;
    border-radius: 10px;
}

.submit {
    border: 2px solid black;
    border-radius: 10px;
}

.content-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(65, 93, 123);
    padding: 10px;

}
.content-mid .content {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
._preview {
    max-width: 300px;
    max-height: 300px;
    min-width: 150px;
    flex: 1 1 0;
}

._preview img {
    width: 100%;
    height: auto;
    border: 2px solid rgb(65, 93, 123);
    border-radius: 10px;

}
h2, h3{
color: white;
}

.content-end{
  padding: 30px;
  background-color: rgb(134, 191, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  font-style: italic;
  height: 200px;
  
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px;
}

.call-to-action .content {
    background-color: rgb(34, 67, 202);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid  rgb(34, 67, 202);
    border-radius: 15px;


}

.call-to-action p {
    color:white;
    font-size: x-large;
    font-weight: 500;
}

.footer {
    text-align: center;
    background-color: black;
    color: white;
}